@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Montserrat:wght@300;900&family=Raleway:wght@900&family=Ubuntu:wght@700&family=Quicksand:wght@700&family=Josefin+Sans:wght@100;700&family=Cabin:wght@700&display=swap");
@import url("https://unpkg.com/splitting@1.0.6/dist/splitting.css");

@import "mixins.scss";

@import "icons.scss";
@import "config.scss";

@import "base.scss";
@import "themes.scss";
@import "scrollspy.scss";
@import "snap.scss";
@import "loading.scss";
@import "bg.scss";
@import "navigation.scss";
@import "modules.scss";
