* {
	box-sizing: border-box;
}

html {
	background: var(--body-bg);
	background-attachment: fixed;
	font-size: 100%;
	color: var(--text-color);
	transition: background-color 0.75s var(--easing), color 0.75s var(--easing);
}

body {
	min-height: 100vh;
	margin: 0;
	font: 1rem/2 var(--text-font), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font: var(--heading-weight) 2rem/0.9 var(--heading-font), serif;
	letter-spacing: -0.025em;
	margin: 0 0 var(--spacing-medium);
	max-width: 36rem;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
}

h1,
h2 {
	font-size: clamp(3rem, 16vmin, 8rem);
}

h3 {
	font-size: clamp(1rem, 16vmin, 3rem);
}

p {
	margin: 0 0 var(--spacing-medium);
	max-width: 40rem;
}

a {
	cursor: pointer;
	color: var(--text-color);
	text-decoration: underline;
	text-decoration-color: var(--link-color);
	text-underline-offset: 0.5rem;
	transition: color 0.25s var(--easing);

	&:hover {
		color: var(--link-color);
	}
}

img {
	width: auto;
	height: auto;
	max-width: 100%;
}

video {
	max-width: 100%;
}

ul,
ol {
	margin: 0 0 var(--spacing-medium) var(--spacing-large);
	padding: 0;
}

figure {
	margin: 0 0 var(--spacing-medium);

	img {
		display: block;
		width: 100%;
	}
}
