#bg {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: -2;
	margin: 0;
	pointer-events: none;
	transform: translateX(100%);
	transition: transform 2.5s 2s var(--easing);

	canvas {
		position: absolute;
		left: 0;
		top: 0;
		outline: 0;

		width: 100%;
		height: 100%;

		object-fit: cover;
		object-position: center center;
	}
}

html.dev #bg {
	pointer-events: all;
	z-index: 1;
	opacity: 0.75;
}

html.loaded #bg {
	transform: translateX(0);
}

[data-toggle-bg3d] {
	position: fixed;
	left: var(--spacing-medium);
	top: var(--spacing-medium);

	font-size: 0;
	line-height: 1;

	transform: scale(0);
	transition: transform 0.5s 5s var(--easing);

	&::before {
		font-size: 1rem;
		margin: 0;
	}
}

html.bg3d-disabled [data-toggle-bg3d] {
	&::before {
		content: "\e805";
	}
}

html.loaded a[data-toggle-bg3d] {
	transform: scale(1);
}
